#eventfinder .ef_node {
  border: 1px solid #999999;
  border-style: none none dashed none;
  margin-top: 5px;
  padding-bottom: 5px;
}

#eventfinder .ef_node H2 {
}

#eventfinder .ef_node H2.title {
  text-decoration: none;
  border: 1px solid #555555;
  border-style: none none solid none;
  padding-bottom: 3px;
}

#eventfinder .ef_node H2.title A {
  font-size: 0.9em;
}

#eventfinder .ef_node .event-nodeapi {
  padding-left: 10px;
  font-size: 0.9em;
  border: 3px solid #CCCCCC;
  border-style: none none none solid;
}

#eventfinder .ef_node .form-item {
  padding-left: 10px;
  border: 3px solid #CCCCCC;
  border-style: none none none solid;
}
#eventfinder .ef_node .form-item LABEL {
  display: inline;
}

#eventfinder #ef_options, 
#eventfinder .ef_node #ef_options {
  border: 1px solid #777777;
  padding: 10px 5px 10px 5px;
  float: right;
  width: 200px;
}

#eventfinder #ef_options .form-item, 
#eventfinder .ef_node #ef_options .form-item {
  border: none;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}
#eventfinder #ef_options .form-item .form-text, 
#eventfinder .ef_node #ef_options .form-item .form-text {
  width: 98%;
}
#eventfinder #ef_options .form-item .description, 
#eventfinder .ef_node #ef_options .form-item .description {
  border: 1px solid #777777;
  border-style: solid none solid none;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px 3px 3px 3px;
  background-color: #EEEEEE;
}
#ef_desc {
  border: 1px solid #E1E1E1;
  margin-top: 5px;
  padding: 3px 3px 3px 3px;
}
#ef_reg_events, 
#ef_hosted_events {
  border: 1px solid #777777;
  margin-top: 5px;
  padding: 3px 3px 3px 3px;
}
#ef_desc SPAN, 
#ef_reg_events SPAN, 
#ef_hosted_events SPAN {
  border: 1px dashed #777777;
  border-style: none none dashed none;
  margin: 0px 3px 0px 3px;
  font-size: 1.2em;
  font-weight: bold;
}

.ef_checkbox_disabled {
  background: url(images/checkbox_disabled.png) top left no-repeat;
  padding: 0px 0px 15px 28px;
  margin: 0px 0px 10px 0px;
  font-style: italic;
}
.ef_checkbox_enabled {
  background: url(images/checkbox_enabled.png) top left no-repeat;
  padding: 0px 0px 15px 28px;
  margin: 0px 0px 10px 0px;
}

.ef_checkbox_enabled UL {
  margin-bottom: 0px;
}
.ef_cbx_holder {
  padding: 0px 0px 10px 30px;
}
